---
import { storyblokEditable } from "@storyblok/astro";
import InlineIcon from "../components/InlineIcon.astro";
import { FooterStoryblok } from "../generated/component-types-sb";
import IconLink from "./IconLink.astro";

interface Props {
  blok: FooterStoryblok;
}

const { blok } = Astro.props;
---

<footer class="bg-petrol pt-16 pb-6" {...storyblokEditable(blok)}>
  <div class="container max-w-screen-lg mx-auto">
    <div
      class="flex flex-col lg:flex-row justify-between gap-8 lg:gap-6 text-sm"
    >
      <div>
        <a href="/"
          ><InlineIcon filename={blok.logo.filename} />
          <span class="sr-only">comdirect</span>
        </a>
      </div>
      <div class="flex lg:flex-col flex-row gap-3 lg:gap-1 flex-wrap">
        {
          blok.first_list.map((link) => (
            <a
              class="block text-white  focus:text-gruen focus:underline hover:underline hover:text-gruen"
              href="#"
            >
              {link.text}
            </a>
          ))
        }
      </div>
      <div class="flex lg:flex-col flex-row gap-3 lg:gap-1 flex-wrap">
        {
          blok.second_list.map((link) => (
            <a
              class="block text-white  focus:text-gruen focus:underline hover:underline hover:text-gruen"
              href="#"
            >
              {link.text}
            </a>
          ))
        }
      </div>
      <div class="flex lg:flex-col flex-row gap-3 lg:gap-1 flex-wrap">
        {
          blok.third_list.map((link) => (
            <a
              class="block text-white  focus:text-gruen focus:underline hover:underline hover:text-gruen"
              href="#"
            >
              {link.text}
            </a>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col lg:flex-row items-center lg:gap-24 mt-3">
      <div class="text-gray-400 text-xs my-6">{blok.copyright}</div>
      <div class="text-white flex items-center gap-8">
        {
          blok.socials.map((social) => (
            <div class="h-6 w-6 ">
              <IconLink classes="fill-white hover:fill-orange" blok={social} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</footer>
