---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import {
  HeaderStoryblok,
  PageStoryblok,
} from "../generated/component-types-sb";
import Header from "./Header.astro";

interface Props {
  blok: PageStoryblok;
  headerBlok: HeaderStoryblok;
  path: string;
}
const { blok, headerBlok, path } = Astro.props;

const version = import.meta.env.STORYBLOK_API_VERSION;
const ssr = import.meta.env.ASTRO_SSR;
---

<Header blok={headerBlok} path={path} />
SSR:{ssr}
<br />
Version: {version}
<main {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => {
      return <StoryblokComponent blok={blok} />;
    })
  }
</main>
