---
import { PageStoryblok } from "../generated/component-types-sb";
import { getCssText } from "@neui/core";
interface Props {
  seo: PageStoryblok["seo"];
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Demo page showing Astrojs and Storyblok in action."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    {seo?.title && <title>{seo.title}</title>}
    {seo?.og_image && <meta property="og:image" content={seo.og_image} />}
    {seo?.og_title && <meta property="og:title" content={seo.og_title} />}
    {
      seo?.twitter_description && (
        <meta
          property="twitter:description"
          content={seo.twitter_description}
        />
      )
    }
    {
      seo?.twitter_image && (
        <meta property="twitter:image" content={seo.twitter_image} />
      )
    }
    {
      seo?.twitter_title && (
        <meta property="twitter:title" content={seo.twitter_title} />
      )
    }
    <style is:inline>
      @font-face {
        font-family: "Mark";
        src: url("/fonts/MarkWeb-latin-regular.woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      /* 
      @font-face {
        font-family: "Mark";
        src: url("/fonts/MarkWeb-latin-medium.woff2");
        font-weight: medium;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Mark";
        src: url("/fonts/MarkWeb-latin-bold.woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      } */
    </style>
    <style id="stitches" set:html={getCssText()}></style>
  </head>

  <body class="bg-petrol">
    <slot />
  </body>
</html>
